/*
* define all constant here 
*/

$primary-color: #031440 !default;
$secondary-color: #076cec !default;
$hovercolor: #54a2fa;
$body-color: #40464C;
$visitedlink: #181B31; 
$placeholder-color: #899097; 
$widget_title_color:#181B31;
$strock_color: #DFE2E7;
$site_footer_bg: #eaeff1;

$body-font-family:  "Poppins", sans-serif !default;      
$menu-font-family:  "Poppins", sans-serif !default;
$headings-font-family: "Poppins", sans-serif !default;


$body-font-size: 15px !default;
$body-font-weight: 400 !default;
$body-line-height: 26px !default;
$body-line-height: 26px !default;

$h1-font-size: 40px ;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 16px;
$post-font-size: 14px;

$h1-font-weight: 700 !default;
$h2-font-weight: 700 !default;
$h3-font-weight: 700 !default;
$h4-font-weight: 700 !default;
$h5-font-weight: 700 !default;
$h6-font-weight: 700 !default;
$widget-title-weight: 600;
$font-medium-weight: 500;

$h1-line-height: 1.35 !default;
$h2-line-height: 1.35 !default;
$h3-line-height: 1.35 !default;
$h4-line-height: 1.35 !default;
$h5-line-height: 1.35 !default;
$h6-line-height: 1.35 !default;


$color-white:    #fff;
$color-black:    #000 !default;
$color-read: #FF0000 !default;


$link-transition: all .3s !default;


