/*
* sparch default stylesheed   
*/
/*
 * table of content 
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*
 * bootstrap  
*/
.sparch_footer_menu ul li a {
	color: #000 !important;
    font: 16px/26px "Poppins", sans-serif;
    transition: all 300ms linear 0s;
}

/*----------------------------------------------------*/
/* Header Area css
============================================================================================ */
.logged-in .admin-bar .main_menu .navbar{
	margin-top: 32px;
}

.header_area {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
	padding: 0 85px;
  }
  .header_area.navbar_fixed{
	position: fixed !important;
	width: 100%;
	top: -70px;
	left: 0;
	right: 0;
	background: #fff;
	transform: translateY(70px);
	transition: transform 500ms ease, background 500ms ease;
	-webkit-transition: transform 500ms ease, background 500ms ease;
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
	z-index: 999;
  }
.admin-bar .header_area.navbar_fixed .main_menu {
	padding-bottom:30px;
}



  .header_area.navbar_fixed .main_menu .navbar .navbar-brand img + img {
	display: inline-block;
  }
  .header_area.navbar_fixed .main_menu .navbar .number {
	display: none;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav.navbar-nav > li > a {
	line-height: 70px;
	color: #000;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav.navbar-nav > li:hover > a, .header_area.navbar_fixed .main_menu .navbar .nav.navbar-nav > li.active > a {
	color: #C99100;
  }
  .header_area.navbar_fixed.menu_dark .main_menu .extra_logo {
	display: none;
  }
  .header_area.navbar_fixed.menu_dark .main_menu .navbar .navbar-brand {
	display: inline-block;
  }
  .header_area.navbar_fixed.menu_dark .main_menu .navbar .navbar-brand img {
	display: inline-block;
  }
  .header_area.navbar_fixed.menu_dark .main_menu .navbar .number {
	display: none;
  }
  
  .home_logo {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	height: 56.5vmin;
	z-index: 40;
	width: 24.4vmin;
	text-align: center;
  }
  .home_logo img {
	margin-top: 5vmin;
  }
  .home_logo .slide-number {
	margin-top: 15vmin;
  }
  .home_logo .slide-number .current-number {
	color: #C99100 !important;
	font: 7.6vmin "Poppins", sans-serif;
	font-weight: 600;
  }
  .home_logo .slide-number sup {
	color: #000;
	font: 18px "Poppins", sans-serif;
	vertical-align: top;
	font-weight: 600;
  }
  .home_logo .nav {
	justify-content: center;
	position: absolute;
	bottom: 25px;
	left: 0px;
	width: 100%;
  }
  .home_logo .nav li {
	margin-right: 30px;
  }
  .home_logo .nav li a {
	font-size: 1.5vmin;
	color: #000;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
  }
  .home_logo .nav li:last-child {
	margin-right: 0px;
  }
  .home_logo .nav li.active a {
	color: #C99100;
  }

  
  
  .main_menu .navbar {
	padding: 0px;
	background-color: transparent !important;
  }
  .main_menu .navbar .number {
	color: #fff;
	font: 16px "Poppins", sans-serif;
	white-space: nowrap;
  }
  .main_menu .navbar .nav.navbar-nav {
	padding-left: 40px;
  }
  .main_menu .navbar .nav.navbar-nav li {
	margin-right: 32px;
	position: relative;
  }
  .main_menu .navbar .nav.navbar-nav li a {
	color: #fff;
	font-family: "Poppins", sans-serif;
	position: relative;
	font: 15px/75px "Poppins", sans-serif;
	position: relative;
	transition: color 0.5s ease;
  }
  .admin-bar .main_menu .navbar .nav.navbar-nav li a {
	font: 15px/138px "Poppins", sans-serif;
  }
  .main_menu .navbar .nav.navbar-nav li a:after {
	display: none;
  }
  .main_menu .navbar .nav.navbar-nav li .mobile_dropdown {
	display: none;
	cursor: pointer;
  }
  .main_menu .navbar .nav.navbar-nav li:last-child {
	margin-right: 0px;
  }

.home .menu_dark .main_menu .navbar .nav.navbar-nav > li:hover > a,.home .menu_dark .main_menu .navbar .nav.navbar-nav > li.active > a{
	color: #C99100 !important;
}
.header_area.navbar_fixed.menu_dark .main_menu .navbar .navbar-brand img:first-child{
	display: none;
}
.no-redux.navbar_fixed  > nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #efefef;
}
  @media (min-width: 992px) {
	.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu {
	  position: absolute;
	  top: 70%;
	  left: -40px;
	  min-width: 256px;
	  border: 1px solid #efefef;
	  background: #fff;
	  margin: 0px;
	  text-align: left;
	  opacity: 0;
	  transition: all 300ms ease-in;
	  visibility: hidden;
	  display: block;
	  padding: 15px 0;
	  border-radius: 0px;
	  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
	}
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li {
	margin-right: 0px;
	display: block;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li a {
	display: block;
	line-height: 45px;
	color: #828282;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	padding: 0px 30px;
	transition: all 300ms ease;
	font-weight: 400;
	text-shadow: none;
	position: relative;
	padding-left: 25px;
	text-transform: capitalize;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li a:before {
	content: "";
	width: 0px;
	height: 1px;
	background: #C99100;
	position: absolute;
	left: 27px;
	top: 50%;
	transform: none;
	margin-top: -1px;
	opacity: 0;
	transition: all 300ms linear 0s;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li a:after {
	display: none;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li:hover a {
	color: #C99100;
	padding-left: 50px;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li:hover a:before {
	opacity: 1;
	width: 12px;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li:last-child a {
	border-bottom: 0px;
  }
  @media (min-width: 992px) {
	.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu {
	  visibility: hidden;
	  opacity: 0;
	  transform: rotate(0deg);
	  left: 97%;
	  right: auto;
	  min-width: 200px;
	  top: 0px;
	  transition: all 300ms ease-in;
	  padding: 0px;
	}
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu li a {
	background: #fff;
	color: #000;
	padding: 0px 25px;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu li a:before {
	display: none;
  }
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu li:hover a {
	background: #C99100;
	color: #fff;
  }
  @media (min-width: 992px) {
	.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu:hover.submenu .dropdown-menu {
	  visibility: visible;
	  left: 100%;
	  opacity: 1;
	}
  }
rs-bullets.tp-bullets.persephone.horizontal.nav-pos-hor-left.nav-dir-horizontal{
		left: 60px !important;
	}
  .main_menu .navbar .nav.navbar-nav li:hover a:before, .main_menu .navbar .nav.navbar-nav li.active a:before {
	width: 23px;
  }
  @media (min-width: 992px) {
	.main_menu .navbar .nav.navbar-nav li:hover.submenu a:after {
	  opacity: 1;
	  z-index: 9999;
	}
	.main_menu .navbar .nav.navbar-nav li:hover.submenu .dropdown-menu {
	  left: -26px;
	  visibility: visible;
	  opacity: 1;
	}
  }
  .main_menu .navbar .nav.navbar-nav.navbar-right {
	position: relative;
  }
  .main_menu .navbar .nav.navbar-nav.navbar-right:before {
	content: "";
	height: 20px;
	width: 1px;
	position: absolute;
	left: 20px;
	top: 49%;
	transform: translateY(-50%);
	background: #919191;
  }
  .main_menu .navbar .nav.navbar-nav.navbar-right li a {
	line-height: normal;
	color: #000;
  }
  .main_menu .navbar .nav.navbar-nav.navbar-right li a:before {
	display: none;
  }
  .main_menu .navbar .nav.navbar-nav.navbar-right li.request_btn a {
	background: #bd2433;
	line-height: 60px;
	display: inline-block;
	padding: 0px 34px 0px 16px;
	font-size: 17px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.51px;
	position: relative;
  }
  .main_menu .navbar .nav.navbar-nav.navbar-right li.request_btn a:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 60px 40px;
	border-color: transparent transparent #bd2433 transparent;
	position: absolute;
	left: -40px;
	top: 0px;
	transform: translateY(0%);
	display: block;
  }
  
  .menu_dark .extra_logo {
    position: absolute;
    left: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu_dark .main_menu .navbar .number {
	color: #000;
  }
  .menu_dark .main_menu .navbar .nav.navbar-nav > li > a {
	color: #000;
  }
  .menu_dark .main_menu .navbar .nav.navbar-nav > li:hover a, .menu_dark .main_menu .navbar .nav.navbar-nav > li.active a {
	color: #C99100;
  }
  /* .menu_dark + row, .menu_dark + div, .menu_dark + section {
	margin-top: 138px;
  } */
  
  .dl_sp_navbar_white .main_menu .navbar .number {
	color: #fff;
  }
  .dl_sp_navbar_white .main_menu .navbar .nav.navbar-nav > li > a {
	color: #fff;
  }
  .dl_sp_navbar_white .main_menu .navbar .nav.navbar-nav > li:hover a, .dl_sp_navbar_white .main_menu .navbar .nav.navbar-nav > li.active a {
	color: #C99100;
  }
  .dl_sp_navbar_white .main_menu .navbar-light .navbar-toggler span {
	background: #fff;
  }
  .dl_sp_navbar_white .main_menu .navbar-light .navbar-toggler span:before, .dl_sp_navbar_white .main_menu .navbar-light .navbar-toggler span:after {
	background: #fff;
  }
  .dl_sp_navbar_white.navbar_fixed .extra_logo img,
  .dl_sp_navbar_white.navbar_fixed .navbar-brand img {
	-webkit-filter: brightness(1) invert(0);
	filter: brightness(1) invert(0);
  }
  
  @media (max-width: 991px) {
	.logged-in .admin-bar .main_menu .navbar{
		margin-top: 32px;
	}
	.header_area.dl_sp_navbar_white .main_menu .navbar .nav.navbar-nav > li > a {
	  color: #000;
	}
	.header_area{
		padding: 0 25px;
	}
  }
  .dl_header_margin + row, .dl_header_margin + div, .dl_header_margin + section {
	margin-top: 0 !important;
  }
  
  @media (max-width: 991px) {
	nav.navbar.navbar-desctop {
	  background-color: #fff;
	  border-bottom: 0px solid transparent;
	}
  
	nav.navbar.navbar-desctop.navbar-white {
	  background-color: rgba(17, 17, 17, 0.7);
	  border-bottom: 0px solid transparent;
	}
	  rs-bullets.tp-bullets.persephone.horizontal.nav-pos-hor-left.nav-dir-horizontal {
    left: 25px !important;
}
  }
  /* End Header Area css
  ============================================================================================ */
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
	justify-content: flex-end;
	}
}

.navbar-collapse {
    align-items: center;
    width: 100% !important;
}
.fullwidth .navbar_fixed .navbar{
	position: relative;
}
.fullwidth .main_menu .navbar{
	position: relative;
}
@media (max-width: 1500px){
	.main_menu .navbar {
		max-width: 960px;
		margin-right: 0;
		margin-left: auto;
	}
}
@media (max-width: 1199px){
	.main_menu .navbar .number {
		display: none;
	}
	.main_menu .navbar .nav.navbar-nav li:last-child.submenu .dropdown-menu{
		left: auto;
		right: 0;
	}
	
}
@media (max-width: 991px){
	.menu_dark .extra_logo{
		display: none;
	}
	.main_menu .navbar .navbar-brand{
		display: block;
	}

}

@media (min-height: 950px){
	.slide-status-numbers.shap{
		top: -182px !important;
		padding-top: 400px !important;
		height: 600px !important;
	}
}


#fp-nav{
	right: 0;
}

#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 100px;
    height: 25px;
    margin: 7px;
    position: relative;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	height: 10px;
	width: 10px;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
	height: 15px;
	width: 15px;
	background-color: #C99100;
}

span.slide-title-color{
	color: #C99100;
}
.dl_team_member_wrapper.dl_style_4 .dl_team_member_thumb:after{
	background-color: #C99100 !important;
}
.team_item .team_text h3{
	color: #000 !important;
}

/*...................... For Unit Test  ...................... */

@media (max-width: 576px) {
	.dl_pro_subscribe_form .dl_cu_btn {
		margin-top: 15px;
	}
	.dl_pro_subscribe_form .dl_cu_btn {
		margin-top: 15px;
	}
	.text-white h2, .text-white .page-title{
		line-height: 1.2;
		font-size: 28px;
	}
	.blog_breadcrumbs_area_two, .blog_breadcrumbs_area_two.page-banner, .blog_breadcrumbs_area_two.blog-single-page, .blog_breadcrumbs_area_two.archive-banner, .blog_breadcrumbs_area_two.banner-404{
		padding: 90px 0px;
	}
	h1 {
		font-size: 28px;
		font-weight: 700;
		line-height: 1.2;
	}
	.sec_padding {
		padding-top: 70px;
		padding-bottom: 100px;
	}
	.widget-title {
		margin: 0px 0px 25px;
	}
	.widget br + img {
		margin: 5px 0;
	}
	.search_cart .nav-item .nav-link {
		margin-bottom: 10px;
	}

}
@media (max-width: 768px) {
	.search_cart .nav-item .nav-link {
		margin-bottom: 10px;
	}
	.widget-title {
		margin: 0px 0px 25px;
	}
	#fp-nav{
		right: -40px;
	}
	h2.page_title {
		font-size: 36px !important;
	}
	.media_blog_content .post_bottom{
		margin-top:10px;
	}
	.blog_title {
    font-size: 24px !important;
	}
}



@media (max-width: 1440px) and (min-width: 1200px) {
    .whal_home_banner .dl_parallax_element img {
        max-width: 88% !important;
        float: right;
    }
	.home .main_menu .navbar .navbar-brand img{
	   -webkit-filter: brightness(0) invert(1);
       filter: brightness(0) invert(1);
    }
}
@media (max-width: 1500px) and (min-width: 1000px) {
	#rev_slider_2_1_wrapper .persephone .tp-bullet{
		margin-left:75px !important;
	}
	.home .main_menu .navbar .navbar-brand img{
	   -webkit-filter: brightness(0) invert(1);
       filter: brightness(0) invert(1);
    }
	.home .header_area.menu_dark.fullwidth.navbar_fixed img{
	 filter: brightness(0.5);	
	}
}


.footer_widget p{
    margin-top: 0;
    margin-bottom: 10px;
}

.has_align-right-image img {
    transition: auto;
    margin-top: 25px;
}

.blog_grid_area .blog_list_item .arrow_btn{
    color:#C99100;
}

.dl_sp_navbar_white.navbar_fixed .main_menu .navbar-light .navbar-toggler span:before, .dl_sp_navbar_white.navbar_fixed .main_menu .navbar-light .navbar-toggler span:after {
    background: #000;
}
.dl_sp_navbar_white.navbar_fixed .main_menu .navbar-light .navbar-toggler span {
    background: #000;
}

/*...................... For Unit Test  ...................... */
.tagcloud a{
   color: #787878 !important;
}

.comment-form .btn-comment-form{
	background-color: #C99100;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 400;
	border-radius: 0;
}
.comment-date span[aria-hidden="true"] {
	display: none !important;
}
.comment-form .btn-comment-form:hover{
	background: #000000 !important;
    color: #fff !important;
}

@media  (max-width:1800px) and (min-width: 1500px) {
	rs-layer-wrap.rs-parallax-wrap{
		left:-720px !important;
	}
}
@media  (max-width:1050px) and (min-width: 750px) {
	#slider-2-slide-2-layer-7{
		display:none;
	}
}

@media  (max-width:1600px) and (min-width: 1400px) {
	.menu_dark .main_menu .navbar .number{
		margin-left:100px !important;
	}
}

@media (min-width: 2560px){
	rs-layer#slider-1-slide-1-layer-7{
		max-width:680px !important;
	}
	span.end-number{
		margin-top: -140px !important;
		margin-right: -20px;
	}
}

.dl_contact_form_wrapper.dl_cf7_form_02 .wpcf7-form-control:focus{
	border-color: #C99100 !important;
    box-shadow: none;
}
.single-post .header_area, 
.blog .header_area, .archive .header_area{
	position:inherit;
}

h1.page-title.page_title{
	font-weight:600;
}
 

.single-post .main_menu .navbar .nav.navbar-nav li a,
.blog .main_menu .navbar .nav.navbar-nav li a  {
	font: 15px/100px "Poppins", sans-serif;
 }
.single-post.admin-bar .menu_dark .extra_logo{
	top: 52px;
}
.single-post .menu_dark .extra_logo{
	top: 35px;
}


.archive, .search  .header_area{
	position:inherit;
}
.archive .main_menu .navbar .nav.navbar-nav li a {
	font: 15px/100px "Poppins", sans-serif;
 }
.archive.admin-bar .menu_dark .extra_logo{
	top: 52px;
}
.archive .menu_dark .extra_logo{
	top: 35px;
}

.search .main_menu .navbar .nav.navbar-nav li a {
	font: 15px/100px "Poppins", sans-serif;
 }
.search.admin-bar .menu_dark .extra_logo{
	top: 52px;
}
.search .menu_dark .extra_logo{
	top: 35px;
}
.team_item .team_text a:hover{
	color:#FFFFFF;
}
.main_menu{
	position: relative;
}
.blog_grid_area .blog_list_item .arrow_btn{
	position: relative;
	z-index: 9;
}
@media only screen and (max-width: 991px) {
	.admin-bar .main_menu .navbar .nav.navbar-nav li a {
		font: 15px/50px "Poppins", sans-serif;
	}
	}

	.navbar-nav > .nav-item .mobile_dropdown_icon{
		display: none;
	}
	.team_item .team_text.dl_sp_border_effect {
	background-color: #fff;
}
.team_item .team_text.dl_sp_border_effect:hover a{
	color: #000;
}
.dl_sp_portfolio_wrapper .dl_sp_portfolio_content.dl_sp_border_effect{
	background-color: #fff;
}